/* Resetting the browser default style*/
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

li{
    list-style: none;
}
body{
    font-family:Arial;
    width:100%;
    margin-left:auto;
    margin-right:auto;
    margin-top:30px;
}
.search-section{
    background-color: #6461a8;
    padding: 8px;
    
}
#search{
    width:100%;
    padding: 12px 20px;
    border: none;
}
.user-list-section{
    margin-top:20px;
}
li{
    border:1px solid #aDDDDD;
    margin-top:1px; /* prevent double borders */
    background-color: pink;
    font-size: 10px;
    text-transform: capitalize;
    padding: 12px;

}
li:hover{
    background-color: #EEEEEE;
}

/* fill button for username */
.username{
    background-color: black;
    color: #FFFFFF;
    padding: 6px;
    font-size: 14px;
    border-radius: 5px;
}

@media (min-width:100px){
    body{
       width:50%;
    }
    li{
        font-size: 14px;
    }
}